github "EricssonBroadcastServices/iOSClientPlayer"
github "EricssonBroadcastServices/iOSClientExposure"
github "EricssonBroadcastServices/iOSClientExposurePlayback"
github "EricssonBroadcastServices/iOSClientCast"
